body {
    margin: 0;
}

/* TERMÉK KÉP */
.termek-kep {
    max-height: 400px;
    object-fit: contain;
}

/* MÉRETEK */
.meretek {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.meretek input {
    display: none;
}

.meretek label {
    border: 2px solid black;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.meretek label:hover {
    background-color: #eee;
}

.meretek input:checked + label {
    background-color: black;
    color: white;
}

/* MOBIL FINOMHANGOLÁS */
@media (max-width: 768px) {
    .termek-kep {
        max-height: 250px;
    }
}