.hero {
    height: 60vh;
    background: url(kepek/walp.jpg) center/cover no-repeat;
    color: rgb(255, 255, 255);
}

.price {
    background: black;
    color: #da2b2b;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

.card img {
    object-fit: cover;
    height: 250px;
}
a{
    text-decoration: none;
    color: black;
}